@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}
.title {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.1;
}
.subtitle {
  font-size: 1.615rem;
  font-weight: 400;
  margin-top: 1rem;
}
.email-text {
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 10px;
  margin-top: 1.2rem;
}
.banner-wrap {
  background: url("./assets/bgimage.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  top: 0px;
  color: white;
  position: relative;
  z-index: 1;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 70%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.952);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.966) 95%,
    rgb(0, 0, 0) 70%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 56px;
  padding-top: 28px;
}
nav .logo {
  height: 36px;
}
nav .sign-in-btn {
  padding: 6px 17px;
  background: red;
  text-decoration: none;
  color: white;
  border-radius: 3px;
}
.banner-container {
  height: calc(100% - 56px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.get-started-form {
  display: flex;
  margin-top: 1rem;
}
.get-started-form input {
  width: 450px;
  height: 60px;
  border: none;
  padding: 10px;
  border-radius: 2px 0 0 2px;
}
.get-started-form input:focus {
  border: none;
  box-shadow: none;
}
.get-started-form button {
  width: 215px;
  background-color: red;
  color: white;
  border: none;
  height: 60px;
  font-size: 1.5rem;
}
.info-container {
  display: flex;
  color: white;
  background-color: black;
  padding: 20px 70px;
  padding-bottom: 50px !important;
  border-top: 8px #222222 solid;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 55%;
  padding: 25px;
}
.tv-container {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  max-width: 45%;
}
.tv-container img {
  z-index: 1;
  width: 100%;
}
.tv-container video {
  position: absolute;
  width: 75%;
}
.kids-container {
  display: flex;
  color: white;
  background-color: black;
  padding: 20px 70px 50px;
  border-top: 8px #222222 solid;
}
.kids-container .kids-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  padding: 10px;
}
.kids-container .kids-image {
    max-width: 50%;
    padding: 35px;
}
.kids-container .kids-image img {
    width: 100%;
}
footer {
  background: black;
  color: grey;
  border-top: 8px #222222 solid;
  padding: 70px 190px 35px;
}
footer .contact-link a {
    text-decoration: none;
    color: grey;
    font-size: .9rem;
}
footer .contact-link a:hover {
    text-decoration: underline;
}
footer ul {
  list-style-type: none;
  columns: 4;
  line-height: 3;
  margin-top: 10px;
}
footer ul li {
  cursor: pointer;
  font-size: .8rem;
}
footer ul li:hover {
  text-decoration: underline;
}
footer .city {
    margin-top: 25px;
    font-size: .8rem;
}
