@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'open-sans', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}
.banner-wrap {
    background: url('./assets/bgimage.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 56px;
    padding-top: 25px;
}
nav img {
    height: 36px
}
nav .sign-in-btn {
    padding: 7px 17px;
    background: red;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}
.banner-container {

}
.banner-container > h1 {

}
.title {
    font-size: 3.125rem;
}